

section{
    text-align: center;
    
}
body{
    font-size:30px;
    }
form{ 
    background-color: bisque;
   display: inline-block;
   border: 2px solid #69F;
   padding: 15px;
    }
input{
    display: block;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}
#aprete{
    display: inline-block;
    background: #799;
}

#aprete:hover,#aprete:active,#aprete:focus {
  background: #899;
}