@charset "utf-8";
/* CSS Document */
*{margin:0;
 padding:0;
}
body{font-size:10px;
     
	}

 header,main,nav,footer {width:100%;
 max-width:1600px;
 min-width:220px;
 }
 
 header{
		background: #799;
		height:180px;}
#logos{
	width:180px;
	height:180px;
	border-radius:38px;
	background:url(../img/logo.fw.png);
	position:absolute;
	top:1px;
	left:20px;
	
}
#logos1{
	width:1100px;
	height:180px;
	border-radius:38px;
	background:url(../img/Mercadolibre.jpg);
	position:absolute;
	top:1px;
	left:250px;
	
}
#logotitulo{
	width:600px;
	height:120px;
	border-radius:3px;
	background:url(../img/titulo.fw.png);
        position: absolute;
	top:1px;
	left:500px;
	z-index:2;
}
main{background:#799;
	 height:850px;
	 padding-top:15px;}

nav{background:coral;
	height:60px;
        font-size:2rem;}

section{background:#ccc;
		width:96%;
		min-height:800px;
		margin:auto;
                font-size:3rem;}
		
		
article{background:#C96;
		width:30%;
		height:400px;
		float:left;
		margin-top:2%;
		margin:1%;
		margin-left:2%;
		font-size:2rem;}
		
footer{background:#899;
              height:100px;
              font-size: 2rem;
               
               }
	 
@media screen and(max.width:200px){
	article{wigth:96%}
        #logos1{width:96%} 
        
	}