
*{margin:0;
 padding:0;
}
body{
    background: crimson;
}
article {
    border: 1px solid silver;
    margin: 10px;
}

#main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  background-color: #C96;
}

section {
    text-align: center;
    
}

form {
    display: inline-block;
    border: 1px solid silver;
    padding: 10px;

}

input {
    display: block;
    margin-bottom: 10px;

}

#crear {
    display: inline-block;
}
#logos{
	width:180px;
	height:180px;
	border-radius:38px;
	background:url(../img/logo.fw.png);
	position:absolute;
	top:1px;
	left:20px;
	
}
#logos1{
	width:1100px;
	height:180px;
	border-radius:38px;
	background:url(../img/Mercadolibre.jpg);
	position:absolute;
	top:1px;
	left:200px;
	
}
#logotitulo{
	width:600px;
	height:120px;
	border-radius:3px;
	background:url(../img/titulo.fw.png);
        position: absolute;
	top:1px;
	left:500px;
	z-index:2;
}